<section class="center">
  <div class="profile_animator_wrapper">
    <div class="profile_img_wrapper">
      <div class="img_bkg"></div>
      <img
        src="assets/Luka_Bilbao-Munios.jpg"
        alt="Luka Bilbao-Munios head-shot"
      />
    </div>
  </div>
  <p>
    As a versatile and motivated individual, I actively engage in diverse
    projects across various domains, encompassing front-end development,
    back-end programming, and database management. My current focus revolves
    around university-assigned projects that allow me to apply and expand my
    skills in web development. I find immense pleasure in the creative aspect of
    coding, driving me to continuously learn and explore new technologies. While
    my primary experience lies in front-end development, I consider myself
    adaptable and have introductory-level proficiency in languages such as Java,
    Python, and C++. I am committed to cultivating a well-rounded skill set that
    provides a broad perspective in the ever-evolving field of programming.
  </p>
</section>
