<section class="center">
  <div class="profile_animator_wrapper">
    <div class="profile_img_wrapper">
      <div class="img_bkg"></div>
      <img
        src="assets/Luka_Bilbao-Munios.jpg"
        alt="Luka Bilbao-Munios head-shot"
      />
    </div>
  </div>
  <ul class="contacts">
    <li>
      <a href="tel:+995558555390" (click)="copyToClipboard('+995558555390')">
        <cv-phone />
      </a>
    </li>
    <li>
      <a
        href="mailto:lucasbm789@gmail.com"
        (click)="copyToClipboard('lucasbm789@gmail.com')"
      >
        <cv-mail />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/luka-bilbao-munios-09b58a229/"
        target="_blank"
      >
        <cv-linkedin />
      </a>
    </li>
    <li>
      <a href="https://github.com/LucasBilbao" target="_blank">
        <cv-github />
      </a>
    </li>
  </ul>
</section>
