<li>
  <article>
    <header>
      <h3>
        @if(educationItem().level; as level){
        <b>{{ level }}</b> of }
        {{ educationItem().specialty }}
      </h3>
      <div class="education_info">
        <h4>{{ educationItem().school }}</h4>
        <p>
          [
          {{ educationItem().start | dating }}
          -
          {{ educationItem().end | dating }}
          ]
        </p>
      </div>
    </header>
    <main>
      <p>
        Country: <b>{{ educationItem().country }}</b>
      </p>
      <mat-icon>horizontal_rule</mat-icon>
      <a [href]="educationItem().url" target="_blank">
        <mat-icon>link</mat-icon>
      </a>
    </main>
  </article>
</li>
