@use "../../../../../globals.scss" as globals;

li {
  article {
    header {
      h3 {
        @include globals.fontSizing(20, 22);
      }
      div {
        p {
          @include globals.fontSizing(11, 14);
          opacity: 0.5;
        }
      }
    }
    main {
      display: flex;
      row-gap: globals.pxToRem(15);
      & > mat-icon {
        transform: rotate(90deg);
      }

      a {
        cursor: pointer;
        // mat-icon {
        //   cursor: pointer;
        // }
      }
    }
  }
}
