<article>
  <header>
    <h4>{{ project().title }}</h4>
  </header>
  <main>
    <p>{{ project().description }}</p>
    <ul>
      @for (tag of project().tags; track $index) {
      <li>
        <mat-chip>
          {{ tag }}
        </mat-chip>
      </li>
      }
    </ul>
  </main>
  <footer>
    @if (project().deploymentUrl) {
    <a
      [href]="project().deploymentUrl"
      matTooltip="Source code"
      target="_blank"
    >
      <mat-icon>code</mat-icon>
    </a>
    }
    <a
      [href]="project().repositoryUrl"
      matTooltip="Deployed website"
      target="_blank"
    >
      <mat-icon>language</mat-icon>
    </a>
  </footer>
</article>
